body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body * {
    margin: 0;
    padding: 0;
}

input#num1, input#num2{
    width: 100px;
    text-align: center;
}

#row3 {
    width: 100px;
}

#row4 {
    background-color: rgba(0, 0, 0, 0.826);
    height: 200px;
}

code{
    color: rgb(255, 196, 0)
}