:root{
    --output-text: rgb(89, 238, 89);
    --code-text: white;
    --dark: #121212;
    --heavy-terquaz: #018786;
    --hover-terquaz: rgba(0, 255, 128, 0.855);
    --purple: #6200EE;
    --hover-purple: #9550f6;
}

body{
    background-color: var(--dark);
    color:white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body *{
    margin: 0;
    padding: 0;
}

#wrapper{
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;   /* To prevent Footer from appearing on top of your keyboard on mobile devices, add any div wrapper under the body with a relative position, min-height 100% and make the footer attached to it with position absolute + add a padding-bottom that equals the height of your footer */
}

#header{
    font-size: 24px;
}

#subheader, .label{
    font-size: 12px;
}

#subheader{
    color: silver;
}

select, option{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 80px;
}

input#num1, input#num2{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    width: 60px;
}

#generate-btn{
    background-color: var(--heavy-terquaz);
    font-size: 12px;
}

#generate-btn:hover{
    background-color: var(--hover-terquaz);
}

#script-container{
    font-size: 10px;
    font-family: monospace;
    background-color: black;
    color: var(--code-text);
    caret-color: var(--code-text);
    height: 200px;
    width: 95% !important;
    max-width: 800px !important;
    outline: solid thin var(--heavy-terquaz);
}

#run-btn{
    width: 75px;
    background-color: var(--purple);
    border: none;
    font-size: 12px;
}

#run-btn:hover{
    background-color: var(--hover-purple);
}

#output-container{
    font-family: monospace;
    padding: 1rem;
    background-color: black;
    color: var(--code-text);
    height: 70px;
    width: 95%;
    max-width: 800px !important;
    font-size: 10px;
    outline: solid thin var(--purple);
    overflow: auto;
}

#output-text{
    font-size: 12px;
    color: var(--output-text)
}

footer{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    font-size: 10px;
    justify-content: space-evenly;
    border-top: orange solid thin;
    background-color: black;
}

#developer, i, a{
    font-size: 10px;
    text-decoration: none;
    margin:0;
}

#loader-container{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* ---- Media Queries ---- */

/* screens 600px and more */
@media screen and (min-width: 600px) {

	#script-container, #output-container, #output-text{
	   font-size: 14px;
    }

    #script-container{
        font-size: 12px;
        height: 270px;
    }

    #header{
        font-size: 28px;
    }
    
    #subheader, .label{
        font-size: 16px;
    }
    
    select, option{
        font-size: 14px;
        width: 110px;
    }

    input#num1, input#num2 {
        font-size: 14px;
        width: 80px;
    }

    #generate-btn{
        font-size: 15px;
    }

    #run-btn{
        font-size: 15px;
    }

    #output-container{
        height: 100px;
    }

    #output-msg{
        font-size: 16px;
    }

    #developer, i, a{
        font-size: 16px;
    }
}

/* screens 1000px and more */
@media screen and (min-width: 1000px) {
	#script-container, #output-container, #output-text{
	   font-size: 16px;
    }

    #script-container{
        height: 330px;
    }

    #header{
        font-size: 32px;
    }
    
    #subheader, .label{
        font-size: 18px;
    }
    
    select, option, input#num1, input#num2{
        font-size: 16px;
    }
}